<div class="mainContainer">
    <!-- ! The heading container -->
    <div class="headerContainer">
        <div class="leftHeaderContainer">
            <div class="headerImage">
                <img src="/assets/img/logo.png" alt="optionImageLogo">
            </div>
        </div>
        <div class="headerText">PEOPLE FOOTFALL COUNTER</div>
        <div class="headerOptions">
            <ul>
                <li [routerLink]="['']" >Home</li>
                <li [routerLink]="['/settings']" >ROI Setting</li>
                <li [routerLink]="['/detailed']" >Detailed Page</li>
            </ul>
        </div>
    </div>
    <!--! The Video Stream Container  -->
    <div class="leftContainer">
        <div class="showVideo">
            <img *ngIf="imageUrl" [src]="imageUrl" alt="Live Feed">
        </div>
        <div class="bottomValuesContainer">
            <div class="card work">
                <div class="card-desc">
                    <div class="card-header">
                        <div class="card-title">Visible Inside</div>
                    </div>
                    <div class="card-time"> {{visibleInside}} </div>
                </div>
            </div>

            <div class="card work">
                <div class="card-desc">
                    <div class="card-header">
                        <div class="card-title">Visible Outside</div>
                    </div>
                    <div class="card-time">{{visibleOutside}}</div>
                </div>
            </div>

            <div class="card work" id="specialCard">
                <div class="specialspecialCard" >
                    <div class="specialCard-header">
                        <div class="card-title">Total Inside</div>
                    </div>
                    <div class="card-time"> {{totalEntries}} </div>
                </div>
            </div>
        </div>
    </div>
    <!--! The Detected Face container  -->
    <div class="rightContainer">
        <div class="rightMainContainer">
            <div class="detectFacesContainer">Detected Faces</div>
            <!-- <div class="bottomValuesContainer">
                <div class="card work">
                    <div class="card-desc-good">
                        <div class="card-header">
                            <div class="card-title">Total Visible Inside</div>
                        </div>
                        <div class="card-time">4</div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>