.mainContainer{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 12fr 2fr;
    grid-template-rows: 1fr 7fr 2fr;
}

/*! Mat Drawer Container  */
.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
  }
  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/*! The heading container */
.headerContainer{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #F1EEEE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-radius: 15px;
}

.leftHeaderContainer{
    width: 35%;
    display: flex;
    align-items: center;
}

.headerOptions {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 27%;
}

.headerOptions ul {
    width: 91%;
    display: flex;
    align-items: center;
    list-style: none;
}

.headerOptions ul li {
    margin: 4%;
    font-size: 131%;
    text-decoration: underline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 6vh;
    width: 6vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.headerOptions ul li:hover{
    background: #7469B6;
    color: white;
}



.headerImage{
    height: auto;
    width: auto;
}

.headerImage img{
        height: 3rem;

}

.headerText{
    width: 34%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}


/*! The Video Stream Container */
.leftContainer{
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: #F1EEEE;
    margin: 0.5%;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.showVideo {
    height: 75%;
    width: 98%;
    margin: 1%;
    border-radius: 20px;
    background-color: #e7e4e1;
    overflow: hidden;  /* Ensure content does not overflow the container */
    display: flex;  /* Flexbox to center the image */
    justify-content: center;  /* Horizontally center the image */
    align-items: center;  /* Vertically center the image */
}

.showVideo img {
    width: 100%;  /* Make the image take the full width of the container */
    height: 100%;  /* Make the image take the full height of the container */
    object-fit: contain;  /* Ensure the image covers the container while maintaining aspect ratio */
    border-radius: 20px;  /* Match the border-radius of the parent container */
}

.bottomValuesContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    margin: 1.5%;
}




/*! The Detected Face container */
.rightContainer{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-color: #F1EEEE;
    margin: 3.5%;
    border-radius: 25px;
    width: 92%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.rightMainContainer{
    width: 98%;
    height: 99%;
    margin: 1%;
}

.bottomContainer{
    display: flex;
}

.card {
    --primary-clr: #1C204B;
    --dot-clr: #BBC0FF;
    --play: hsl(195, 74%, 62%);
    width: auto;
    height: 93%;
    border-radius: 10px;
   }
   
   .card {
    font-family: "Arial";
    color: #fff;
    display: grid;
    cursor: pointer;
    grid-template-rows: 108% 1fr;
    width: 12%;
   }
   
   .card:hover .img-section {
    transform: translateY(1em);
   }
   
   .card-desc {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -10px;
    display: flex;
    background: var(--primary-clr);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   .card-desc-good{
    border-radius: 10px;
    padding: 15px;
    display: grid;
    background: linear-gradient(to bottom, #33001b, #ff0084);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   
   .card-time {
    font-size: 3.7em;
    font-weight: 500;
    text-align: center;
   }
   
   .img-section {
    transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: hsl(195, 74%, 62%);
   }
   
   .card-header {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
   }
   
   .card-title {
    flex: 1;
    font-size: 0.9em;
    font-weight: 500;
   }
   
   .card-menu {
    display: flex;
    gap: 4px;
    margin-inline: auto;
   }
   
   .card svg {
    float: right;
    /* max-width: 100%;
    max-height: 100%; */
   }
   
   .card .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--dot-clr);
   }
   
   .card .recent {
    line-height: 0;
    font-size: 0.8em;
   }


   .specialspecialCard{
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -10px;
    display: flex;
    background: linear-gradient(to bottom, #33001b, #ff0084);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 130%;
   }

   .detectFacesContainer{
    height: 98%;
    background-color: #e7e4e1;
    border-radius: 20px;
    margin: 2% 1%;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    margin: 1%;
    padding: 3%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 122%;
   }

   .bottomValuesContainer{
    height: 21%;
    margin: 1%;
   }